
<div>
    <h2><span>Ecole</span> {{vm.ecole.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Nomfr</span></dt>
        <dd>
            <span>{{vm.ecole.nomfr}}</span>
        </dd>
        <dt><span>Noman</span></dt>
        <dd>
            <span>{{vm.ecole.noman}}</span>
        </dd>
        <dt><span>Devisefr</span></dt>
        <dd>
            <span>{{vm.ecole.devisefr}}</span>
        </dd>
        <dt><span>Devisean</span></dt>
        <dd>
            <span>{{vm.ecole.devisean}}</span>
        </dd>
        <dt><span>Boitepostal</span></dt>
        <dd>
            <span>{{vm.ecole.boitepostal}}</span>
        </dd>
        <dt><span>Logo</span></dt>
        <dd>
            <div ng-if="vm.ecole.logo">
                <a ng-click="vm.openFile(vm.ecole.logoContentType, vm.ecole.logo)">open</a>
                {{vm.ecole.logoContentType}}, {{vm.byteSize(vm.ecole.logo)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="ecole-detail.edit({id:vm.ecole.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
